[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/archie-nico-ver"]
	path = themes/archie-nico-ver
	url = https://github.com/nico-series/archie-nico-ver.git
